[submodule "addons/skin.bt.play"]
	path = addons/skin.bt.play
	url = https://github.com/bittorrent/skin.bt.play.git
	branch = master
[submodule "addons/service.bt.play"]
	path = addons/service.bt.play
	url = https://github.com/bittorrent/service.bt.play.git
	branch = master
