[submodule "addons/script.bt.transcode"]
	path = addons/script.bt.transcode
	url = git@github.com:bittorrent/script.bt.transcode.git
	branch = master
[submodule "addons/skin.bt.play"]
	path = addons/skin.bt.play
	url = git@github.com:bittorrent/skin.bt.play.git
	branch = master
[submodule "addons/service.bt.play"]
	path = addons/service.bt.play
	url = git@github.com:bittorrent/service.bt.play.git
	branch = master
[submodule "addons/service.bt.autosources"]
	path = addons/service.bt.autosources
	url = git@github.com:bittorrent/service.bt.autosources.git
	branch = master
[submodule "addons/service.libraryautoupdate"]
	path = addons/service.bt.libraryautoupdate
	url = git@github.com:bittorrent/xbmclibraryautoupdate.git
	branch = master
[submodule "addons/repository.bt.play"]
	path = addons/repository.bt.play
	url = git@github.com:bittorrent/repository.bt.play.git
	branch = master
